$primary: #F13F72;
$secondary: #1D2335;
$secondary-light: #4478BA;
$grey: #f2f2f2;
$grey-dark: #828282;
$primary-font: 'Muli', 'Avenir Next', 'Avenir', Helvetica, Arial; // weight 400
$header-font: 'Raleway', 'Cubano', Helvetica, Arial; // weights 700 and 800, for now

.index {
  font-family: $primary-font;
  text-align: center;
  #header {
    padding-top: 10vw;
    padding-bottom: 4vw;
    background-color: $secondary;
    color: #fff;
    font-family: $header-font;
    font-weight: 800;
    font-size: 10vw;
    h1 {
      width: 100%;
    }
  }
  #intro {
    background-image: url("assets/coastline-blur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    margin-bottom: -100px;
    z-index: 1;
    .text {
      max-width: 476px;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.5);
      margin-bottom: 36px;
      .tagline {
        color: $secondary;
        font-size: 48px;
        line-height: 61px;
        margin-bottom: 22px;
      }
      ul {
        list-style: none;
        margin-left: 0px;
        padding-left: 1em;
        text-indent: -1em;
        color: $primary;
        font-size: 24px;
        line-height: 33px;
        li {
          &:before {
            content: "*";
            padding-right: 5px;
          }
        }
      }
    }
  }
  #use-cases {
    z-index: 2;
    background-color: $grey;
    margin-bottom: 100px;
    &:before {
      bottom: 100%;
      background: url('assets/clear-over-grey.png') no-repeat center center/cover;
    }
    h2 {
      color: $secondary-light;
    }
    .columns {
      margin-left: 20px;
      margin-right: 20px;
      .column {
        margin: 8px;
        vertical-align: top;
        display: inline-block;
        width: calc((100vw - 120px - 60px) / 3);
        max-width: calc((1024px - 120px - 60px) / 3);
        h3 {
          margin-top: -20px;
        }
        .description {
          margin-top: 18px;
          color: $grey-dark;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
  #features {
    background-image: url('assets/earth-from-above.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    margin-top: -100px;
    padding-bottom: 100px;
    z-index: 1;
    color: #fff;
    &:before {
      bottom: calc(100% - 100px);
      background: url('assets/grey-over-clear.png') no-repeat center center/cover;
    }
    ul {
      padding-top: 30px;
      padding-bottom: 18px;
      width: auto;
      display: inline-block;
      text-align: left;
      line-height: 28px;
      font-size: 20px;
      li {
        background: url('assets/li-map-marker.png') no-repeat left top;
        padding: 4px 0px 2px 30px;
        vertical-align: center;
        margin-bottom: 26px;
      }
    }
  }
  #create-your-map {
    margin-top: 0px;
    background-color: $secondary-light;
    padding-bottom: 40px;
    &:before {
      bottom: 100%;
      background: url('assets/clear-over-blue.png') no-repeat center center/cover;
    }
    h2 {
      color: $grey;
    }
    .step {
      padding-top: 60px;
      text-align: left;
      h3 {
        font-size: 36px;
        color: $secondary;
        font-family: $primary-font;
        font-weight: 600;
        padding-bottom: 36px;
      }
      .image {
        width: 415px;
        display: inline-block;
        img {
          max-width: 415px;
          max-height: 315px;
        }
      }
      .instructions {
        display: inline-block;
        margin-left: 50px;
        width: calc(100% - 444px - 70px);
        vertical-align: top;
        padding-top: 36px;
        line-height: 18px;
        ul {
          list-style-type: square;
          ul {
            margin-left: 24px;
          }
          &.padding {
            padding-top: 20px;
          }
        }
        a {
          color: #fff;
        }
        input {
          min-width: 300px;
          height: 38px;
          font-size: 14px;
          width: calc(100% - 120px);
        }
        button {
          height: 44px;
          width: 100px;
          border-radius: 0px;
          background-color: $secondary;
          color: #fff;
          border: 0px;
          font-size: 20px;
          vertical-align: bottom;
        }
        textarea {
          margin-top: 20px;
          width: calc(100% - 16px);
          min-height: 100px;
          font-size: 14px;
        }
      }
    }
  }
  #code-for-atlanta {
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: $header-font;
    font-weight: 700;
    font-size: 20px;
    &:before {
      bottom: 100%;
      background: url('assets/blue-over-clear.png') no-repeat center center/cover;
    }
    img {
      padding-right: 110px;
      padding-bottom: 40px;
    }
    .a-project-of {
      color: $primary;
      display: inline-block;
      width: 110px;
      vertical-align: top;
      margin-top: 81px;
    }
    .power-user {
      line-height: 24px;
      a {
        color: $secondary;
      }
    }
  }
}
.section {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 18px;
  width: calc(100% - 80px);
  .content {
    max-width: 1024px;
    margin: 0 auto;
  }
  &.diagonal {
    margin-top: 100px;
    position: relative;
    &:before {
      z-index: 2;
      content: '';
      position: absolute;
      left: 0px;
      right: 0px;
      height: 100px;      
    }
  }
}
h2 {
  font-size: 48px;
  font-family: $header-font;
  font-weight: 500;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  font-family: $header-font;
  font-weight: 700;
  color: $secondary-light;
}
.shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
