.index {
  font-family: "Muli", "Avenir Next", "Avenir", Helvetica, Arial;
  text-align: center; }
  .index #header {
    padding-top: 10vw;
    padding-bottom: 4vw;
    background-color: #1D2335;
    color: #fff;
    font-family: "Raleway", "Cubano", Helvetica, Arial;
    font-weight: 800;
    font-size: 10vw; }
    .index #header h1 {
      width: 100%; }
  .index #intro {
    background-image: url("assets/coastline-blur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    margin-bottom: -100px;
    z-index: 1; }
    .index #intro .text {
      max-width: 476px;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.5);
      margin-bottom: 36px; }
      .index #intro .text .tagline {
        color: #1D2335;
        font-size: 48px;
        line-height: 61px;
        margin-bottom: 22px; }
      .index #intro .text ul {
        list-style: none;
        margin-left: 0px;
        padding-left: 1em;
        text-indent: -1em;
        color: #F13F72;
        font-size: 24px;
        line-height: 33px; }
        .index #intro .text ul li:before {
          content: "*";
          padding-right: 5px; }
  .index #use-cases {
    z-index: 2;
    background-color: #f2f2f2;
    margin-bottom: 100px; }
    .index #use-cases:before {
      bottom: 100%;
      background: url("assets/clear-over-grey.png") no-repeat center center/cover; }
    .index #use-cases h2 {
      color: #4478BA; }
    .index #use-cases .columns {
      margin-left: 20px;
      margin-right: 20px; }
      .index #use-cases .columns .column {
        margin: 8px;
        vertical-align: top;
        display: inline-block;
        width: calc((100vw - 120px - 60px) / 3);
        max-width: calc((1024px - 120px - 60px) / 3); }
        .index #use-cases .columns .column h3 {
          margin-top: -20px; }
        .index #use-cases .columns .column .description {
          margin-top: 18px;
          color: #828282;
          font-size: 12px;
          line-height: 16px; }
  .index #features {
    background-image: url("assets/earth-from-above.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    margin-top: -100px;
    padding-bottom: 100px;
    z-index: 1;
    color: #fff; }
    .index #features:before {
      bottom: calc(100% - 100px);
      background: url("assets/grey-over-clear.png") no-repeat center center/cover; }
    .index #features ul {
      padding-top: 30px;
      padding-bottom: 18px;
      width: auto;
      display: inline-block;
      text-align: left;
      line-height: 28px;
      font-size: 20px; }
      .index #features ul li {
        background: url("assets/li-map-marker.png") no-repeat left top;
        padding: 4px 0px 2px 30px;
        vertical-align: center;
        margin-bottom: 26px; }
  .index #create-your-map {
    margin-top: 0px;
    background-color: #4478BA;
    padding-bottom: 40px; }
    .index #create-your-map:before {
      bottom: 100%;
      background: url("assets/clear-over-blue.png") no-repeat center center/cover; }
    .index #create-your-map h2 {
      color: #f2f2f2; }
    .index #create-your-map .step {
      padding-top: 60px;
      text-align: left; }
      .index #create-your-map .step h3 {
        font-size: 36px;
        color: #1D2335;
        font-family: "Muli", "Avenir Next", "Avenir", Helvetica, Arial;
        font-weight: 600;
        padding-bottom: 36px; }
      .index #create-your-map .step .image {
        width: 415px;
        display: inline-block; }
        .index #create-your-map .step .image img {
          max-width: 415px;
          max-height: 315px; }
      .index #create-your-map .step .instructions {
        display: inline-block;
        margin-left: 50px;
        width: calc(100% - 444px - 70px);
        vertical-align: top;
        padding-top: 36px;
        line-height: 18px; }
        .index #create-your-map .step .instructions ul {
          list-style-type: square; }
          .index #create-your-map .step .instructions ul ul {
            margin-left: 24px; }
          .index #create-your-map .step .instructions ul.padding {
            padding-top: 20px; }
        .index #create-your-map .step .instructions a {
          color: #fff; }
        .index #create-your-map .step .instructions input {
          min-width: 300px;
          height: 38px;
          font-size: 14px;
          width: calc(100% - 120px); }
        .index #create-your-map .step .instructions button {
          height: 44px;
          width: 100px;
          border-radius: 0px;
          background-color: #1D2335;
          color: #fff;
          border: 0px;
          font-size: 20px;
          vertical-align: bottom; }
        .index #create-your-map .step .instructions textarea {
          margin-top: 20px;
          width: calc(100% - 16px);
          min-height: 100px;
          font-size: 14px; }
  .index #code-for-atlanta {
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Raleway", "Cubano", Helvetica, Arial;
    font-weight: 700;
    font-size: 20px; }
    .index #code-for-atlanta:before {
      bottom: 100%;
      background: url("assets/blue-over-clear.png") no-repeat center center/cover; }
    .index #code-for-atlanta img {
      padding-right: 110px;
      padding-bottom: 40px; }
    .index #code-for-atlanta .a-project-of {
      color: #F13F72;
      display: inline-block;
      width: 110px;
      vertical-align: top;
      margin-top: 81px; }
    .index #code-for-atlanta .power-user {
      line-height: 24px; }
      .index #code-for-atlanta .power-user a {
        color: #1D2335; }

.section {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 18px;
  width: calc(100% - 80px); }
  .section .content {
    max-width: 1024px;
    margin: 0 auto; }
  .section.diagonal {
    margin-top: 100px;
    position: relative; }
    .section.diagonal:before {
      z-index: 2;
      content: '';
      position: absolute;
      left: 0px;
      right: 0px;
      height: 100px; }

h2 {
  font-size: 48px;
  font-family: "Raleway", "Cubano", Helvetica, Arial;
  font-weight: 500; }

h3 {
  font-size: 24px;
  line-height: 30px;
  font-family: "Raleway", "Cubano", Helvetica, Arial;
  font-weight: 700;
  color: #4478BA; }

.shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); }

/*# sourceMappingURL=index.css.map */
